<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div className="cards">
      <% for (let i = 0; i < messages.length; i++) { %>
        <div className="card">
          <p className="text"><%= messages[i].text %></p>
          <p className="user"><%= messages[i].user %></p>
          <p className="added"><%= messages[i].added %></p>
        </div>
      <% } %>
    </div>
  </body>
</html>
